.movie-box{
    height: 350px;
    width: 320px;
    color:black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 10px 15px;
}
.img{
    width:100%;
    height: 100%;
}
.m-w-button{
margin-bottom:40px;
}