.userBox{
    padding: 10px;
    width: 350px;
    height: 380px;
    color:black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 10px 10px;
}
.container-of-movies{
    width:100%;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    padding: 0 20px 0 20px;
    flex-wrap: wrap;
}
.img_av{
    margin:20px;
    width:70%;
    height: 70%;
    
}