body{
  background-color: #222;
  color: white;
  font-family: 'Francois One', sans-serif;
}
#main-links{
text-align: left;
margin-left: 20px;
padding: 20px; 
}

#main-links > a{
  margin: 20px;
  color: #328be4;
  font-size: 30px;
}
.reflix-l{
  font-size:30px;
  text-shadow: 2px 2px 3px #ffffff;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings' !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-film:before {
  content: "\e009";
}
i {
  font-family: fontawesome !important;
  }